extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot you  password
      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          button.btn.btn--green.btn--reset-password Reset password
      .auth__form-container_fields-account
        p Remember your passowrd ? 
          a(href='/login')
            span login
        
